#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.positions {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.positions input {
  /* width: 100%; */
}
.input-position-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.input-form-first {
  display: flex;
  gap: 50px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.buttons-form {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.content {
  display: flex;
  gap:100px
}

.code {
  text-align: left;
  font-family: Consolas,"courier new";
  color: white;
  background-color: rgb(60, 60, 60);
  padding: 6px;
  font-size:12px;
}